
// CREATE - EDIT 

.crud-form {

    
    padding: 20px;
    border-radius: 20px;
    height: 50%;

    h1 {

        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
        margin-top: 75px; 
        background-color: rgb(207, 216, 229);
        border-radius: 20px;
        padding: 50px;
        box-shadow: 10px 10px 0px 0px rgb(101, 101, 101);

        h5,label{

            margin-top: 20px;
            
    
            
        }

        textarea, input {

            border: none;
            padding: 10px 20px;
            resize: none;
            outline: 0;
            border-width: 0 0 2px;
            border-color: blue;
            margin-top: 2px;
            

            &:focus {
                border-color: rgb(216, 33, 33);
            }
            
        }

        textarea {
            
            min-height: 300px;
        }

        .button-wrapper {

            clear: right;
        }

        button {

            border: none;
            width: fit-content;
            margin: auto;
            background-color: rgb(126, 163, 216);
            color: white;
            text-align: center;
            border-radius: 15px;
            padding: 10px 20px;
            float: right;
            margin-top: 10px;
        }

        .tags {

            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;
           

            input {
                width: 20px;
                height: 20px;
               
                position: relative;
            }

            label {

                line-height: 40px;
            }

            
        }
    }
   
}

// ADMIN SHOW -> GUEST SHOW 

.show-wrapper {


    margin: auto;
    width: 50%;
    margin-top: 25px;
    text-align: center;

    li {

        list-style: none;
        padding: 10px;
        color: white;
        background-color: rgb(126, 163, 216);
        border-radius: 20px;
        margin-top: 10px;

        &:hover {
            background-color: rgb(101, 101, 101);
        }
    }
}


